.chat-pg {
    .chat-wrapper {
        display: flex;
        justify-content: space-between;

        .usercard-wrapper {
            width: 25%;
        }
        .chatbox-wrapper {
            width: 70%;
        }
    }

    &.on-Mobile {
        .chat-wrapper {
            .chatbox-wrapper {
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }
}