.chatbox {
    width: 100%;
    background-color: $chat-color2;
    border-radius: 25px;
    padding: 40px;
    height: 70vh;
    display: flex;
    flex-direction: column;

    &.on-Mobile {
        height: 100%;
        border-radius: 0;
        padding: 0;

        .conversations {
            padding: 17px 20px;
        }
        .message-input {
            margin: 10px;
        }
        
    }

    .conv-user-card {
        background: $chat-color1;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        
        .user-avatar {
            display: inline-flex;
            margin-right: 10px;

        }
        .user-meta {
            .user-name {
                font-weight: 600;
            }
            .user-status {
                .status {
                    &-online {
                        color: #b8d5b8;
                    }
                    &-away {
                        color: #d3b71d;
                    }
                    &-offline {
                        color: #9c7a7a;
                    }
                }
            }
        }
    }

    .conversations {
        flex: 1;
        overflow-y: auto;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        .message-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
    
            .user-avatar {
                display: inline-block;
                margin-right: 10px;
            }
            .message {
                position: relative;
                background-color: $chat-color1;
                padding: 15px 30px;
                border-radius: 10px;
                font-weight: 300;
                font-size: 13px;

                .time {
                    font-size: 8px;
                    position: absolute;
                    bottom: 4px;
                    right: 8px;
                    font-weight: 300;
                }
            }
        }
    
        .otherAuthor {
            display: block;
        }
        .myOwnAuthor {
            .message-wrapper {
                justify-content: flex-end;
                .message {
                    background-color: $chat-color3;
                    color: #000000;
                }
            }
        }
    }

    .message-input {
        display: flex;
        border-radius: 100px;
        background: #eaeaea;
        color: #000000;
        align-items: center;
        padding: 0 10px;
        margin-top: 6px;
        position: relative;

        .emoji-wrapper {
            padding: 15px;
            cursor: pointer;
        }
        textarea {
            width: 100%;
            background: transparent;
            padding: 10px;
            border-radius: 10px;
            outline: 0;
            height: 50px;
            resize: none;
            // background-color: red;

            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
        }
        #sendMessage {
            padding: 15px;
            font-size: 22px;
        }
    }
}



.chatbox.onMobile {
    height: 100%;
    border-radius: 0;
}